<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>ICBM Venture Capital is an early stage venture firm in the artificial intelligence and data space.</p>
      </div>
      <div class="col-lg-4">
        <p>Reach for the sky</p>
      </div>

    </div>
  </div>
</section>
